@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-display: optional;
  font-family: 'Inter';
  src: url('./fonts/inter/Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-display: optional;
  font-family: 'Inter Extra';
  src: url('./fonts/inter/ExtraBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-display: optional;
  font-family: 'Inter';
  src: url('./fonts/inter/Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: optional;
  font-family: 'Inter';
  src: url('./fonts/inter/Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

html, body {
  font-family: Inter, Helvetica, Arial, sans-serif;
  background-color: #00050e;
}
